.card-info{
    text-align: left;
    align-content: top;
    min-width: 330px;
    height: auto;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 100px;
}

.original-title, .productor, .runtime, .lenguage, .budget, .revenue{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
}

.original-title-text, .productor-text, .runtime-text, .lenguage-text, .budget-text, .revenue-text{
    font-size: 22px;
    font-weight: 400;
    padding-left: 20px;
    margin: 0px;
    margin-bottom: 30px;
}

.revenue-text{
    margin-bottom: 0px;
}

@media (max-width: 768px){
    .card-info{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .original-title, .productor, .runtime, .lenguage, .budget, .revenue{
        font-size: 20px;
    }

    .original-title-text, .productor-text, .runtime-text, .lenguage-text, .budget-text, .revenue-text{
        font-size: 16px;
    }
    
}